
@{
    ViewBag.Title = "MostrarStats";
}

<h2>MostrarStats</h2>

<div>
    <p><strong>Pictures:</strong>@ViewBag.PictureCount</p>
    <p><strong>Faces:</strong>@ViewBag.FaceCount</p>
    <p><strong>Emotions:</strong>@ViewBag.EmotionCount</p>
</div>

